<div class="user-create-container">
  <div class="header">
    <h1>Új felhasználó létrehozása</h1>
  </div>

  <div class="form-container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group">
          <label for="lastname">Vezetéknév *</label>
          <input
            id="lastname"
            type="text"
            formControlName="lastname"
            [class.invalid]="isFieldInvalid('lastname')"
          />
          @if (isFieldInvalid('lastname')) {
            <span class="error-message">
              {{ getFieldError('lastname') }}
            </span>
          }
        </div>

        <div class="form-group">
          <label for="firstname">Keresztnév *</label>
          <input
            id="firstname"
            type="text"
            formControlName="firstname"
            [class.invalid]="isFieldInvalid('firstname')"
          />
          @if (isFieldInvalid('firstname')) {
            <span class="error-message">
              {{ getFieldError('firstname') }}
            </span>
          }
        </div>
      </div>

      <div class="form-group">
        <label for="address">Cím</label>
        <input
          id="address"
          type="text"
          formControlName="address"
          [class.invalid]="isFieldInvalid('address')"
        />
        @if (isFieldInvalid('address')) {
          <span class="error-message">
            {{ getFieldError('address') }}
          </span>
        }
      </div>

      <div class="form-group">
        <label for="telephone">Telefon</label>
        <input
          id="telephone"
          type="text"
          formControlName="telephone"
          [class.invalid]="isFieldInvalid('telephone')"
        />
        @if (isFieldInvalid('telephone')) {
          <span class="error-message">
            {{ getFieldError('telephone') }}
          </span>
        }
      </div>

      <div class="form-group">
        <label for="job">Foglalkozás *</label>
        <select id="job" formControlName="job">
          @for (job of jobs; track job) {
            <option [value]="job">
              {{ jobLabels[job] }}
            </option>
          }
        </select>
      </div>

      <div class="form-actions">
        <app-button
          type="button"
          label="Mégsem"
          variant="secondary"
          (clicked)="onCancel()"
        ></app-button>
        <app-button
          type="submit"
          label="Létrehozás"
          variant="primary"
          [disabled]="submitting"
        ></app-button>
      </div>
    </form>
  </div>
</div>
