<div class="form-group">
  @if (type === 'checkbox') {
    <label class="checkbox-wrapper">
      <input
        type="checkbox"
        [id]="inputId"
        [formControl]="control"
      />
      <span class="checkbox-label">{{ label }}</span>
    </label>
  } @else {
    <div class="input-wrapper" [class.has-value]="hasValue" [class.is-focused]="isFocused">
      @if (type === 'text') {
        <input
          type="text"
          [id]="inputId"
          [formControl]="control"
          [class.invalid]="isInvalid"
          (focus)="onFocus()"
          (blur)="onBlur()"
        />
      }

      @if (type === 'select' && options) {
        <select
          [id]="inputId"
          [formControl]="control"
          [class.invalid]="isInvalid"
          (focus)="onFocus()"
          (blur)="onBlur()"
        >
          <option value="" disabled selected hidden></option>
          @for (option of options; track option.value) {
            <option [value]="option.value">
              {{ option.label }}
            </option>
          }
        </select>
      }

      @if (label) {
        <label [for]="inputId" class="floating-label">
          {{ label }}@if (required) {<span class="required-asterisk"> *</span>}
        </label>
      }
    </div>

    @if (isInvalid) {
      <span class="error-message">{{ errorMessage }}</span>
    }
  }
</div>
